.widget_block.all_active .tokyo_fn_more_categories{
	display: none;
}
.widget_archive .tokyo_fn_more_categories,
.widget_tokyo_custom_categories,
.widget_categories .tokyo_fn_more_categories{
	width: 100%;
	float: left;
	clear: both;
}
.widget_tokyo_custom_categories a:after,
.widget_tokyo_custom_categories a:before,
.widget_archive .tokyo_fn_more_categories a:after,
.widget_archive .tokyo_fn_more_categories a:before,
.widget_categories .tokyo_fn_more_categories a:after,
.widget_categories .tokyo_fn_more_categories a:before{
	display: none;
}
.widget_tokyo_custom_categories .tokyo_fn_more_categories .fn_count,
.widget_archive .tokyo_fn_more_categories .fn_count,
.widget_categories .tokyo_fn_more_categories .fn_count{
	margin-left: 4px;
}
.widget_tokyo_custom_categories .tokyo_fn_more_categories a,
.widget_archive .tokyo_fn_more_categories a,
.widget_categories .tokyo_fn_more_categories a{
	padding-right: 0;
	color: #000;
	font-family: 'Montserrat';
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	background-color: transparent;
}
.widget_archive > div,
.widget_archive ul,
.widget_tokyo_custom_categories ul,
.widget_categories > div,
.widget_categories ul{
	width: 100%;
	float: left;
	clear: both;
	overflow: hidden;
}
.widget_block{
	margin-bottom: 40px;
	width: 100%;
	float: left;
	clear: both;
	padding: 40px 30px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 5%);
	transition: all .3s ease;
}
.widget_block:hover{
	box-shadow: 0px 5px 10px rgb(0 0 0 / 10%);
}
.widget_block:after{
	clear: both;
	display: table;
	content: '';
}
.widget_block:last-child{
	margin-bottom: 0;
}
.widget_block ul{margin: 0;margin-left: 20px;}
.widget_recent_entries a{
    display: block;
}
.widget_media_image{
	margin-bottom: 0;
}
.wid-title{
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 26px;
	text-align: left;
}
.wp-block-cover p.wp-block-cover-text{
	color: #eee;
}
.wid-title span{
	color: #000;
	font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
	font-family: 'Montserrat';
}
.wid-title span:after{
	position: absolute;
    content: "";
    width: 40px;
    height: 1px;
    background-color: #000;
    left: 0px;
    bottom: -7px;
    opacity: .1;
}
.widget_tokyo_social .wid-title{
	margin-bottom: 29px;
}
.widget_tokyo_news .wid-title{
	margin-bottom: 33px;
}
.widget_block span.post-date{
	display: block;
}
.textwidget p{
	margin: 0px;
	padding: 0px;
	line-height: 1.7;
	letter-spacing: 0px;
}
.widget_nav_menu ul{
	list-style-type: none;
	margin: 0px;
}
.widget_nav_menu ul li{
	margin: 0px 0px 5px 0px;
    width: 100%;
    float: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.widget_nav_menu ul li.menu-item-has-children > a{
	position: relative;
}
.widget_nav_menu ul li.menu-item-has-children.opened > a:before{
	transform: rotate(90deg);
    margin-top: -8px;
}
.widget_nav_menu ul li.menu-item-has-children > a:before{
	width: 0px;
    height: 0px;
    content: '';
    position: absolute;
    border: 5px solid transparent;
    border-left-color: #666;
    right: 1px;
    top: 50%;
    transition: all .3s ease;
    transform-origin: left center;
	margin-top: -3px;
}
.widget_nav_menu ul li a{
	display: block;
	font-size: 15px;
	text-decoration: none;
	letter-spacing: 0px;
	line-height: 30px;
	color: #767676;
	font-family: 'Montserrat';
	font-weight: 500;
}
.widget_nav_menu ul ul{
	display: none;
}
.widget_businesshours p{
	margin: 0px;
	padding: 0px;
	line-height: 1.7;
	letter-spacing: 0px;
	color: #777;
	margin-bottom: 15px;
}
.widget_businesshours .fn_days ul{
	list-style-type: none;
	margin: 0px;
}
.widget_businesshours .fn_days span{
	line-height: 1.7;
	float: left;
	font-size: 14px;
	color: #777;
	letter-spacing: 0px;
}
.widget_businesshours .fn_days li{
	float: left;
	clear: both;
	width: 100%;
	margin: 0px;
	padding: 3px 0px;
	position: relative;
	border-bottom: 1px dashed #ccc;
}
.widget_businesshours .fn_days li:last-child{
	border-bottom-color: transparent;
}
.widget_businesshours .fn_days .hours{
	float: right;
	font-weight: 400;
	margin-left: 20px;
	color: #f0ca6e;
}
.widget_block ul{
	list-style-type: none;
	margin: 0px;
}
.widget_block li{
	margin-bottom: 10px;
	position: relative;
	padding-left: 18px;
}
.widget_block li:before{
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 8px;
	border-color: transparent transparent transparent #ccc;
	left: 0px;
	top: 9px;
	top: 9.5px;

}
.fn__dark_mode .widget_block li:before{
	border-color: transparent transparent transparent #999;
}
.widget_block.widget_rss li{
	margin-bottom: 20px;
	border-radius: 0;
    border: none;
    box-shadow: none;
    padding: 3px 0 3px 20px;
    border-left: 2px solid rgba(0,0,0,.07);
}
.widget_block.widget_rss .rss-date{
	display: inline-block;
    background: #f5f5f5;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    vertical-align: middle;
    padding: 4px 8px;
    border-radius: 2px;
}
.widget_block.widget_rss .rssSummary{
	margin: 10px 0;
}
.widget_block.widget_rss cite{
	font-weight: 500;
	display: block;
}
.widget_block li:last-child{
	margin: 0px !important;
}
.widget_meta a,
.widget_recent_entries a,
.widget_pages a,
.widget_archive a,
.widget_categories a{
	text-decoration: none;
}
.widget_block.widget_tag_cloud a,
.widget_block.widget_meta a{
	font-size: 14px !important;
    display: block;
    float: left;
    margin: 0 5px 5px 0;
	text-decoration: none;
    color: #767676;
    background-color: #f5f5f5;
    padding: 0px 10px;
	line-height: 30px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.widget_block.widget_tag_cloud a:hover,
.widget_block.widget_meta a:hover{
	background-color: #dadada;
}
.widget_block a{
	font-weight: 500;
	text-decoration: none;
    color: #767676;
    display: inline-block;
    font-family: "Montserrat";
    letter-spacing: 0.5px;
    font-size: 15px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.widget_block a:hover{
	color: #000;
}
.widget_block.widget_calendar a{
	display: block;
    background: rgba(0,0,0,.07);
    width: 30px;
    height: 30px;
    padding: 0;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    border-radius: 3px;
	color: #888;
}
table, table td, table th, table tr,
.widget_calendar tbody,
.widget_calendar th,
.widget_calendar table,
.widget_calendar td,
.widget_calendar tr{
	border-color: #ddd;
}
.widget_calendar table td{
	text-align: center;
	vertical-align: middle;
}
.widget_block label{
	margin-right: 10px;
}
.widget_block img{
	margin: 10px 0px;
}
.widget_block p{
	margin: 10px 0px;
}
table{
	border-radius: 3px;
	table-layout: fixed;
}
select,
.widget_block select{
	overflow: hidden;
	width: 100%;
	background-color: #fff;
    border-color: #e5e5e5;
    border-radius: 4px;
    border-width: 1px;
	cursor: pointer;
	color: #777;
	height: 40px;
}
@media(max-width: 480px){
	select,
	.widget_block select{
		min-width: auto;
	}
}
.tokyo_fn_sidebar .widget_nav_menu ul li{
	width: 100%;
	padding-right: 0px;
	margin-bottom: 5px;
}
.widget_block ul ul{
	padding-left: 15px;
    list-style-type: disc;
    margin: 10px 0px 0px 0px;
    list-style-position: inside;
}
.widget_categories ul ul{
	display: block;
	width: 100%;
}
ul.wp-block-archives{
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-bottom: 0px;
}
ul.wp-block-archives:after{
	clear: both;
	display: table;
	content: '';
}
ul.wp-block-archives a{
	text-decoration: none;
}
.widget_tokyo_custom_categories li,
.wp-block-archives li,
.widget_archive li,
.widget_categories li{
	position: relative;
	overflow: hidden;
}
.wp-block-archives span.count,
.widget_tokyo_custom_categories span.count,
.widget_archive span.count,
.widget_categories span.count{
	width: 30px;
	height: 30px;
	display: block;
	background-color: #f5f5f5;
	text-align: center;
	line-height: 30px;
	position: relative;
	font-size: 13px;
	font-family: 'Montserrat';
	font-style: italic;
	z-index: 3;
	margin-left: auto;
}
.widget_nav_menu ul a{
	width: 100%;
}
.widget_nav_menu ul ul{
	list-style-type: none;
	list-style-position: inherit;
	margin: 11px 0 0 0px;
	padding: 0px;
	padding-left: 15px;
	width: 100%;
}
.widget_search .search-wrapper span .tokyo_fn_svg{
	width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%,-50%);
}
.widget_search .search-wrapper span{
	width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    z-index: 1;
    color: #0f0d10;
}
.widget_search .search-wrapper{
	width: 100%;
	position: relative;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	flex-direction: row;
}
.widget_search input[type=text]{
	margin: 0;
	width: 100%;
    padding: 0 45px 0px 20px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    font-size: 15px;
	background-color: transparent;
    border: 1px solid rgba(0,0,0,.2);
    color: #000;
}
.widget_search input[type=text]:focus{
	outline: none;
	border-color: rgba(0,0,0,.4);
}
.widget_search .search2{
	position: relative;
}
.widget_search .search2 form:after{
	clear: both;
	display: table;
	content: '';
}
.widget_search input[type=submit]{
	margin: 0;
	width: 50px;
    height: 50px;
    min-width: 50px;
    z-index: 5;
    background-color: transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    right: 0;
    top: 0;
}
.widget_search input[type='submit']:hover{
	background-color: transparent;
}
.widget_search input{float: left;}
.widget_search label{
	display: block;
	margin-bottom: 10px;
	margin-right: 0px;
}
.widget_search input{margin-bottom: 10px;float: left;}
.widget_search label{
	display: block;
	margin-bottom: 10px;
	margin-right: 0px;
}
.widget_tag_cloud .tagcloud{
	margin-left: -5px;
}
.widget_tag_cloud .tagcloud:after{
	clear: both;
	display: table;
	content: '';
}
.widget_media_gallery img{
	margin: 0px;
	border: none;
}
.widget_media_gallery .gallery-item{
	padding: 5px;
	margin: 0px;
}
.tokyo_fn_widget_estimate{
	width: 100%;
	float: left;
	clear: both;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}
.tokyo_fn_widget_estimate img{
	margin: 0px;
	opacity: 0;
	visibility: hidden;
	position: relative;
}
.tokyo_fn_widget_estimate .img_holder{
	width: 100%;
	float: left;
	clear: both;
	position: relative;
	height: 460px;
}
.tokyo_fn_widget_estimate .helper1{
	z-index: 15;
	position: absolute;
	border-left: 80px solid #f3b469;
	border-top: 55px solid transparent;
	left: 0px;
	bottom: 0px;
}
.tokyo_fn_widget_estimate .helper2{
	z-index: 15;
	position: absolute;
	border-right: 220px solid #f3b469;
	border-top: 55px solid transparent;
	right: 0px;
	bottom: 0px;
}
.tokyo_fn_widget_estimate .helper3{
	z-index: 10;
	position: absolute;
	border-left: 80px solid #000;
	border-top: 80px solid transparent;
	opacity: .2;
	left: 0px;
	bottom: 0px;
}
.tokyo_fn_widget_estimate .helper4{
	z-index: 10;
	position: absolute;
	border-right: 220px solid #000;
	border-top: 80px solid transparent;
	opacity: .2;
	right: 0px;
	bottom: 0px;
}
.tokyo_fn_widget_estimate .helper5{
	z-index: 5;
	position: absolute;
	border-left: 80px solid #f3b469;
	border-top: 80px solid transparent;
	left: 0px;
	bottom: 0px;
}
.tokyo_fn_widget_estimate .helper6{
	z-index: 5;
	content: '';
	position: absolute;
	border-right: 220px solid #f3b469;
	border-top: 80px solid transparent;
	right: 0px;
	bottom: 0px;
}
.tokyo_fn_widget_estimate .abs_img{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: black;
	z-index: 2;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.tokyo_fn_widget_estimate:after{
	z-index: 2;
	position: absolute;
	content: '';
	right: 0px;
	bottom: 0px;
	width: 50px;
	height: 85px;
	background-color: rgba(255,255,255,.1);
}
.tokyo_fn_widget_estimate:before{
	z-index: 1;
	position: absolute;
	content: '';
	right: 0px;
	bottom: 0px;
	width: 100px;
	height: 170px;
	background-color: rgba(255,255,255,.1);
}
.tokyo_fn_widget_estimate .bfwe_inner{
	width: 100%;
	float: left;
	clear: both;
	position: relative;
	z-index: 5;
	padding: 43px 40px 50px 40px;
	background-color: #f3b469;
}
.tokyo_fn_widget_estimate .bfwe_inner p{
	padding: 0px;
	margin: 0px;
	color: #000;
	font-size: 22px;
	line-height: 30px;
	font-weight: 400;
	letter-spacing: 0px;
	margin-bottom: 23px;
}
.tokyo_fn_widget_estimate .bfwe_inner a{
	text-decoration: none;
	display: inline-block;
	background-color: #e9eff4;
	padding: 14px 25px;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 0.5px;
	color: #041230;
	border-radius: 4px;
	font-weight: 500;
	font-style: normal;
}
.tokyo_fn_widget_estimate .bfwe_inner a:hover{
	background-color: #111422;
	color: #fff;
}
.tokyo_fn_widget_brochure{
	width: 100%;
	float: left;
	clear: both;
}
.tokyo_fn_widget_brochure .fn_brochures li{
	float: left;
	clear: both;
	width: 100%;
	margin: 0px;
	margin-bottom: 5px;
}
.tokyo_fn_widget_brochure .br_item{
	float: left;
	clear: both;
	width: 100%;
	padding: 18px 30px 18px 75px;
	background-color: #111422;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}
.tokyo_fn_widget_brochure .br_item a{
	text-decoration: none;
	display: block;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 15;
	position: absolute;
}
.tokyo_fn_widget_brochure .icon{
	position: absolute;
	width: 48px;
	height: 48px;
	top: 5px;
	left: 5px;
	bottom: 0px;
	color: #ccc;
	z-index: 3;
	background-color: rgba(255,255,255,0.08);
	border-radius: 50%;
}
.tokyo_fn_widget_brochure .tokyo_fn_svg{
	position: absolute;
	width: 26px;
	height: 26px;
	top: 50%;
	left: 50%;
	margin: -13px 0px 0px -13px;
	transition: all .3s ease;
}
.tokyo_fn_widget_brochure li:hover .br_item:after{border-left-color: #fff;}
.tokyo_fn_widget_brochure li:hover .text,
.tokyo_fn_widget_brochure li:hover .icon{
	color: #fff;
}
.tokyo_fn_widget_brochure .text{
	font-weight: 600;
	letter-spacing: 0px;
	font-size: 14px;
	color: #ccc;
	transition: all .3s ease;
	display: block;
	position: relative;
	line-height: 1.6;
	font-family: 'Montserrat';
}
.tokyo_fn_widget_brochure .br_item:after{
	content: '';
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -5px;
	border: 5px solid transparent;
	border-left-color: #ccc;
	z-index: 3;
	transition: all .3s ease;
}
.wp-block-archives li,
.widget_tokyo_custom_categories li,
.widget_categories li,
.widget_archive li{
	margin: 0px 0px 1px 0px;
    width: 100%;
    float: left;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	flex-direction: row;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	position: relative;
}
.wp-block-archives li:last-child,
.widget_categories li:last-child,
.widget_tokyo_custom_categories li:last-child,
.widget_archive li:last-child{
	border-bottom: none;
	margin-bottom: 8px;
}
.wp-block-archives a,
.widget_tokyo_custom_categories a,
.widget_categories a,
.widget_archive a{
	line-height: 30px;
	text-transform: capitalize;
	font-style: normal;
	font-size: 15px;
	font-weight: 500;
}
.widget_categories ul ul a{
	line-height: 30px;
}
.wp-block-archives li.has-child:after,
.widget_categories li.has-child:after,
.widget_archive li.has-child:after{
	content: none;
}
.widget_pages ul.children{
	list-style-type: none;
	margin: 10px 0;
	display: none;
}
.widget_pages li.page_item_has_children > a:after{
	width: 0px;
    height: 0px;
    content: '';
    position: absolute;
    border: 5px solid transparent;
    border-left-color: #ccc;
    right: 1px;
    top: 50%;
    transition: all .3s ease;
    transform-origin: left center;
}
.widget_pages li.page_item_has_children.opened > a:after{
	transform: rotate(90deg);
	margin-top: -8px;
}
.widget_pages li a{
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #767676;
    font-size: 15px;
    font-weight: 500;
	font-family: 'Montserrat';
}
.wp-block-archives li.has-child span:after,
.widget_categories li.has-child span:after,
.widget_archive li.has-child span:after{
    height: 1px;
    top: 15px;
    background-color: #222;
    position: absolute;
    content: '';
}
/* new widget: about */
.tokyo_fn_rightsidebar .tokyo_fn_widget_about{
	margin-top: -4px;
}
.tokyo_fn_widget_about > *,
.tokyo_fn_widget_about{
	width: 100%;
	float: left;
	clear: both;
}
.tokyo_fn_widget_about{
	padding-top: 4px;
	text-align: center;
}
.tokyo_fn_widget_about img{
	margin: 0;
	padding: 0;
}
.tokyo_fn_widget_about .abs_img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 1s ease;
}
.tokyo_fn_widget_about .about_img{
	width: 100%;
	float: left;
	clear: both;
	position: relative;
	margin-bottom: 32px;
}
.tokyo_fn_widget_about .about_img:after{
	height: 4px;
	left: 20px;
	right: 20px;
	background-color: #ff0066;
	content: '';
	position: absolute;
	bottom: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.tokyo_fn_widget_about .about_img:before{
	height: 4px;
	left: 20px;
	right: 20px;
	background-color: #ff0066;
	content: '';
	position: absolute;
	top: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.tokyo_fn_widget_about .img_inner{
	position: relative;
	overflow: hidden;
	border-radius: 4px;
}
.tokyo_fn_widget_about .img_inner:hover .abs_img{
	transform: scale(1.2) rotate(5deg);
}
.tokyo_fn_widget_about .about_img img{
	min-width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	opacity: 0;
}
.tokyo_fn_widget_about .afwa_title{
	margin-bottom: 17px;
}
.tokyo_fn_widget_about .afwa_title h3{
	margin: 0;
	padding: 0;
	letter-spacing: 0;
	font-size: 24px;
	line-height: 1;
	margin-bottom: 9px;
}
.widget_tokyo_about.widget_block{
	margin-bottom: 70px;
}
.tokyo_fn_widget_about .afwa_title p{
	margin: 0;
	padding: 0;
	font-family: 'Heebo';
	font-size: 16px;
	line-height: 1.25;
	color: #888;
}
.tokyo_fn_widget_about .afwa_desc{
	margin-bottom: 36px;
}
.tokyo_fn_widget_about .afwa_desc p{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 26px;
	text-align: left;
}





.tokyo_fn_widget_social{
	width: 100%;
	float: left;
	clear: both;
}
.tokyo_fn_widget_social ul{
	margin: 0;
	padding: 0;
}
.tokyo_fn_widget_social ul:after{
	clear: both;
	display: table;
	content: '';
}
.tokyo_fn_widget_social ul li,
.tokyo_fn_widget_social ul li:last-child{
	float: left;
	margin: 0;
	padding: 0;
	margin-right: 4px;
	margin-top: 4px;
}
.tokyo_fn_widget_social ul li a{
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
	background-color: #ececec;
	text-decoration: none;
	border-radius: 8px;
	position: relative;
	overflow: hidden;
}
.tokyo_fn_widget_social ul li a i{
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	transition: all .3s ease;
	color: #444;
}
.tokyo_fn_widget_social ul li a i:nth-child(2){transform: translateY(100%);color: #fff;}
.tokyo_fn_widget_social ul li a:hover{
	background-color: #f3b469;
}
.tokyo_fn_widget_social ul li a:hover i:nth-child(1){transform: translateY(-100%);}
.tokyo_fn_widget_social ul li a:hover i:nth-child(2){transform: translateY(0);}




.tokyo_fn_rightsidebar .opt-in-hound-opt-in-form-wrapper{
	background-color: transparent !important;
}
.tokyo_fn_rightsidebar .opt-in-hound-opt-in-wrapper .opt-in-hound-opt-in-form-errors{
	text-align: left;
}
.tokyo_fn_rightsidebar .opt-in-hound-opt-in-form-wrapper .opt-in-hound-opt-in-form-button button{
	min-width: 160px !important;
	width: auto !important;
	height: 50px !important;
	line-height: 50px !important;
	max-width: 100% !important;
	background-color: #f3b469 !important;
	font-size: 16px !important;
	color: #000 !important;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}
.tokyo_fn_rightsidebar .opt-in-hound-opt-in-form-wrapper .opt-in-hound-opt-in-form-button button:hover{
	background-color: #000 !important;
	color: #f3b469 !important;
}
.tokyo_fn_rightsidebar .opt-in-hound-opt-in-form-wrapper .opt-in-hound-opt-in-form-input input{
	border-radius: 4px !important;
	width: 100% !important;
	background-color: #ddd !important;
	height: 50px !important;
	line-height: 50px !important;
	padding: 0 20px !important;
}
.tokyo_fn_rightsidebar .opt-in-hound-opt-in-image-wrapper{
	margin: 0;
}
.tokyo_fn_rightsidebar .opt-in-hound-opt-in-wrapper .opt-in-hound-opt-in-content-wrapper p{
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: #444;
	margin-bottom: 24px;
}
.tokyo_fn_rightsidebar .opt-in-hound-opt-in-wrapper .opt-in-hound-opt-in-content-wrapper h3 p{
	font-size: inherit;
	font-family: inherit;
	margin: 0;
	padding: 0;
	color: inherit;
}
.tokyo_fn_rightsidebar .opt-in-hound-opt-in-wrapper .opt-in-hound-opt-in-content-wrapper h3{
	font-size: 24px;
	font-weight: 500;
	margin: 24px 0;
	font-family: 'Heebo';
}
.tokyo_fn_rightsidebar .opt-in-hound-opt-in-wrapper{
	padding: 50px;
	background-color: #ececec !important;
	border-radius: 8px !important;
}
.tokyo_fn_rightsidebar .opt-in-hound-opt-in-form-wrapper,
.tokyo_fn_rightsidebar .opt-in-hound-opt-in-content-wrapper{
	padding: 0;
}
.tokyo_fn_rightsidebar .opt-in-hound-opt-in-promo{
	display: none;
}





.tokyo_fn_widget_trending{
	width: 100%;
	float: left;
	clear: both;
}
.tokyo_fn_widget_trending .img_holder:after{
	z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	
   	background: rgba(0,0,0,0.5); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)); /* Standard syntax */
}
.tokyo_fn_widget_trending img{
	margin: 0;
	padding: 0;
	transform: translateZ(0);
	transition: all 1s ease;
}
.tokyo_fn_widget_trending ul li .item:hover img{
	transform: scale(1.1) translateZ(0);
}
.tokyo_fn_widget_trending ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.tokyo_fn_widget_trending ul li{
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 15px;
}
.tokyo_fn_widget_trending ul li .item{
	width: 100%;
	float: left;
	clear: both;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	transform: translateZ(0);
}
.tokyo_fn_widget_trending ul li.item_0 .title_holder p{
	color: #ccc;
}
.tokyo_fn_widget_trending ul li.item_0 .title_holder h3{
	color: #fff;
}
.tokyo_fn_widget_trending ul li.item_0 .title_holder{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
}
.tokyo_fn_widget_trending ul li:not(:first-child) .item{
	border: 1px solid #ddd;
}
.tokyo_fn_widget_trending ul li .title_holder{
	width: 100%;
	float: left;
	clear: both;
	position: relative;
	padding: 24px 40px 24px 90px;
}
.tokyo_fn_widget_trending ul li .title_holder .fn_key{
	position: absolute;
	width: 40px;
	height: 40px;
	display: block;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	background-color: #0b0e13;
	font-size: 20px;
	color: #cccccc;
	font-weight: 500;
	top: 30px;
	left: 30px;
}
.tokyo_fn_widget_trending ul li .title_holder h3{
	margin: 0;
	padding: 0;
	font-size: 26px;
	line-height: 1;
	font-style: italic;
	color: #444;
	margin-bottom: 10px;
	display: block;
}
.tokyo_fn_widget_trending ul li .title_holder h3 span{
	background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
}
.tokyo_fn_widget_trending ul li .title_holder p{
	margin: 0;
	padding: 0;
	color: #888;
	font-size: 14px;
	position: relative;
	overflow: hidden;
	transform: translateZ(0);
	display: block;
}
.tokyo_fn_widget_trending ul li .title_holder p span{
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	transition: all .5s ease;
}
.tokyo_fn_widget_trending ul li .title_holder p .post_time{
	position: relative;
}
.tokyo_fn_widget_trending ul li .title_holder p .post_com_count{
	transform: translateY(102%);
	position: absolute;
	top: 0;
	left: 0;
}
.tokyo_fn_widget_trending ul li .item:hover .title_holder p .post_time{
	transform: translateY(-102%);
}
.tokyo_fn_widget_trending ul li .item:hover .title_holder p .post_com_count{
	transform: translateY(0px);
}
.tokyo_fn_widget_trending ul li .item:hover .title_holder h3 span{
	background-size: 100% 2px;
}
.tokyo_fn_widget_trending ul li .item a{
	display: block;
	text-decoration: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}





/* wp block*/
.wp-block-group.has-background{
	padding: 20px;
	border-radius: 8px;
}
.wp-block-group{
	margin-bottom: 20px;
}
.wp-block-group:last-child{
	margin-bottom: 0;
}
.wp-block-media-text{
	margin-bottom: 20px;
}
.wp-block-group.has-background > * > *{margin-bottom: 20px;}
.wp-block-group.has-background > * > *:last-child{margin-bottom: 0;}
#wp-calendar caption{
	margin-bottom: 15px;
	color: #222;
}
.wp-block-calendar table a{
	display: block;
    background: #ececec;
    width: 30px;
    height: 30px;
    padding: 0;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    border-radius: 3px;
	text-decoration: none;
	color: #888;
}
.wp-calendar-nav{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	width: 100%;
	clear: both;
	flex-direction: row;
	justify-content: center;
}
.wp-calendar-nav a{
	display: block;
    background-color: #ececec;
    padding: 0 15px;
    text-decoration: none;
    color: #888;
    line-height: 30px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
	overflow: hidden;
}
.wp-calendar-nav a:hover{
	color: #000;
}
.wp-calendar-nav .wp-calendar-nav-prev{
	display: block;
	float: left;
}
.wp-calendar-nav .wp-calendar-nav-prev a{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.wp-calendar-nav .wp-calendar-nav-next{
	display: block;
	float: left;
}
.wp-calendar-nav .wp-calendar-nav-next a{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
/*	border-left: 1px solid #ddd;*/
}
.wp-block-search{
	margin-bottom: 20px;
}
.wp-calendar-nav .pad{
	display: none;
}
.wp-block-tag-cloud:after{
	clear: both;
	display: table;
	content: '';
}
.wp-block-tag-cloud a{
	font-size: 13px !important;
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    text-decoration: none;
    color: #767676;
    background-color: #eee;
    padding: 0px 10px;
    line-height: 30px;
    font-style: italic;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.wp-block-tag-cloud a:hover{
	background-color: #dadada;
}
.wp-block-search .wp-block-search__input{
    transition: all .5s ease;
    position: relative;
    border-radius: 0;
	margin: 0;
    width: 100%;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.2) !important;
    color: #000;
	margin-right: 10px;
}
.wp-block-search .wp-block-search__button{
	margin: 0;
    position: relative;
    top: auto;
    right: auto;
    background: #000;
    width: auto;
    height: 50px;
    border-radius: 0;
    color: #fff;
    min-width: 160px;
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;
    z-index: 10;
	cursor: pointer;
	outline-color: transparent;
	outline-width: 0;
	outline: none;
	border: none;
	font-family: 'Muli';
}
ul.wp-block-rss{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.wp-block-rss a{
	text-decoration: none;
    color: #1e1e1e;
    font-weight: 500;
    line-height: 30px;
    text-transform: capitalize;
    font-style: normal;
}

.wp-block-latest-posts.is-grid a{
	text-decoration: none;
    color: #1e1e1e;
    font-weight: 500;
    line-height: 30px;
    text-transform: capitalize;
    font-style: normal;
} 
.wp-block-latest-posts.is-grid{
	margin: 0;
}
ol.wp-block-latest-comments{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.wp-block-latest-comments__comment-meta{
	margin: 0;
    padding: 0;
    font-size: 18px;
}
time.wp-block-latest-comments__comment-date{
	margin: 0;
    padding: 0;
    font-size: 14px;
    color: #888888;
    line-height: 1;
	margin-top: 5px;
	margin-bottom: 10px;
}
.wp-block-latest-comments__comment-excerpt p{
	margin: 0;
    padding: 0;
    font-size: 15px;
    color: #767676;
}
.wp-block-latest-posts.wp-block-latest-posts__list{
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	list-style-type: none;
}
.wp-block-latest-posts.wp-block-latest-posts__list:last-child{
	margin-bottom: 0;
}
.wp-block-latest-posts.wp-block-latest-posts__list time{
	margin: 0;
    padding: 0;
    font-size: 14px;
    color: #888888;
    line-height: 1;
    margin-top: 5px;
}
.wp-block-latest-posts.wp-block-latest-posts__list a{
	color: #000;
    font-weight: 500;
    font-family: 'Montserrat';
    text-transform: capitalize;
    text-decoration: none;
}
.wp-block-latest-posts.wp-block-latest-posts__list li{
	margin-bottom: 10px;
}
.tokyo-fn-wrapper .opt-in-hound-opt-in-content-wrapper p{
	margin: 0;
	margin-bottom: 27px !important;
	font-size: 16px;
	line-height: 26px;
	color: #666;
	text-align: left !important;
}
.tokyo-fn-wrapper .opt-in-hound-opt-in-content-wrapper h3,
.tokyo-fn-wrapper .opt-in-hound-opt-in-content-wrapper h3 p{
	text-align: center !important;
}
.tokyo-fn-wrapper .opt-in-hound-opt-in-image-wrapper{
	margin: 0 auto 25px auto;
}
.tokyo-fn-wrapper .opt-in-hound-opt-in-heading{
	margin: 0 0 15px 0 !important;
	font-size: 24px !important;
	color: #ccc;
}
.tokyo-fn-wrapper .opt-in-hound-opt-in-wrapper{
	border: 1px solid rgba(255,255,255,.07);
    background-color: rgba(255,255,255,.02) !important;
	border-radius: 5px;
	text-align: center;
	padding: 50px 34px;
}
.tokyo-fn-wrapper .opt-in-hound-opt-in-content-wrapper,
.tokyo-fn-wrapper .opt-in-hound-opt-in-form-wrapper,
.tokyo-fn-wrapper .opt-in-hound-opt-in-success-message-wrapper{
	padding: 0;
}
.tokyo-fn-wrapper .opt-in-hound-opt-in-wrapper .opt-in-hound-opt-in-form .opt-in-hound-opt-in-form-input input[type=email]{
	padding: 0 10px !important;
	text-align: center;
	height: 50px;
	width: 100%;
	line-height: 50px;
	border: 1px solid rgba(255,255,255,.07);
    background-color: rgba(255,255,255,.02) !important;

	border-radius: 5px;
	font-family: 'Muli';
	font-size: 16px;
	color: #ccc;
}
.tokyo-fn-wrapper .opt-in-hound-opt-in-wrapper .opt-in-hound-opt-in-form .opt-in-hound-opt-in-form-input input[type=email]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #666;
}
.tokyo-fn-wrapper .opt-in-hound-opt-in-wrapper .opt-in-hound-opt-in-form .opt-in-hound-opt-in-form-input input[type=email]::-moz-placeholder { /* Firefox 19+ */
  color: #666;
}
.tokyo-fn-wrapper .opt-in-hound-opt-in-wrapper .opt-in-hound-opt-in-form .opt-in-hound-opt-in-form-input input[type=email]:-ms-input-placeholder { /* IE 10+ */
  color: #666;
}
.tokyo-fn-wrapper .opt-in-hound-opt-in-wrapper .opt-in-hound-opt-in-form .opt-in-hound-opt-in-form-input input[type=email]:-moz-placeholder { /* Firefox 18- */
  color: #666;
}
.tokyo-fn-wrapper .opt-in-hound-opt-in-wrapper.opt-in-hound-opt-in-form-fields-orientation-stacked .opt-in-hound-opt-in-form-input{
	margin-bottom: 10px;
}
.tokyo-fn-wrapper .opt-in-hound-opt-in-form-wrapper .opt-in-hound-opt-in-form-button button{
	padding: 0 10px !important;
	text-align: center !important;
	height: 50px !important;
	width: 100% !important;
	line-height: 50px !important;
	border: none !important;
	background-color: #ff0066 !important;
	color: #0f0d10 !important;
	font-family: 'Heebo' !important;
	font-size: 16px !important;
	border-radius: 5px !important;
	text-transform: uppercase;
}
.tokyo-fn-wrapper .opt-in-hound-opt-in-form-wrapper .opt-in-hound-opt-in-form-button button:hover{
	background-color: #222 !important;
    color: #ccc!important;
}
.tokyo-fn-wrapper .opt-in-hound-opt-in-promo{
	display: none;
}
a.rsswidget{
	line-height: 27px;
}
.widget_pages li a{
	color: #767676;
}
.widget_block.widget_rss .rss-date{
	display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    vertical-align: middle;
    padding: 4px 8px;
    border-radius: 2px;
	background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.021);
}
.wp-block-latest-posts a,
.wp-block-latest-comments__comment-link,
.wp-block-latest-comments__comment-author,
.wp-block-archives a{
	color: #767676 !important;
}
.wp-block-latest-posts a:hover,
.wp-block-latest-comments__comment-link:hover,
.wp-block-latest-comments__comment-author:hover,
.wp-block-archives li:hover a{
	color: #000 !important;
}
.wp-block-latest-comments__comment-author{
	text-transform: capitalize;
}
.wp-calendar-nav a,
.wp-calendar-table a{
	background-color: rgba(0,0,0,.07) !important;
	color: #000 !important;
}

/**/
.aligncenter{
	text-align: center;
}
.is-style-squared .wp-block-button__link{
	border-radius: 0;
}
.wp-caption{
	margin-bottom: 30px;
}
.wp-block-image .alignleft{
	margin-right: 30px;
	margin-bottom: 30px;
}
.wp-block-image .alignright{
	margin-left: 30px;
	margin-bottom: 30px;
}
.blocks-gallery-grid .blocks-gallery-image figcaption, .blocks-gallery-grid .blocks-gallery-item figcaption, .wp-block-gallery .blocks-gallery-image figcaption, .wp-block-gallery .blocks-gallery-item figcaption{
	left: 0;
}
.has-background-dim .wp-block-cover-text a{
	color: #fff !important;
}
.wp-block-button__link{
	line-height: 1.5;
	padding: 13px 30px;
	font-family: 'Muli';
	font-weight: 500;
	font-size: 16px;
	text-decoration: none !important;
	margin-bottom: 20px;
	border-radius: 20px;
}
.is-style-outline>.wp-block-button__link,
.wp-block-button__link.is-style-outline{
	border: 2px solid #000;
	padding-top: 11px;
	padding-bottom: 11px;
	background-color: transparent !important;
}
.blocks-gallery-caption{
	margin-bottom: 30px;
	text-align: center;
}
.wp-block-gallery{
	margin-bottom: 30px;
}
.wp-block-calendar tbody td, .wp-block-calendar th{
	border-color: #222;
}
.wp-block-calendar table caption, .wp-block-calendar table tbody{
	color: #222;
}
.wp-block-latest-comments__comment{
	width: 100%;
	float: left;
	clear: both;
}
.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt, .has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta{
	margin-left: 0;
}

.wp-block-latest-comments .avatar, .wp-block-latest-comments__comment-avatar{
	margin-bottom: 15px;
	margin-right: 15px;
}
.calendar_wrap *:last-child{
	margin-bottom: 0;
}
.wp-block-embed{
	margin: 0 0 30px;
}

.wp-block-group__inner-container > h2{
	width: 100%;
	height: auto;
	margin-bottom: 26px;
	text-align: left;
	color: #000;
	font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
	font-family: 'Montserrat';
}
.wp-block-group__inner-container > h2:after{
	position: absolute;
    content: "";
    width: 40px;
    height: 1px;
    background-color: #000;
    left: 0px;
    bottom: -7px;
    opacity: .1;
}
.wp-block-search .wp-block-search__button{
	min-width: inherit;
	padding: .375em 20px;
}
.wp-block-latest-comments__comment{
	line-height: 1.7;
}

.wp-block-latest-comments__comment a{
	display: inline;
}
.wp-block-cover{
	margin-bottom: 20px;
}
figcaption{
	margin-bottom: 20px !important;
}
.wp-block-gallery.alignleft{
	margin-right: 20px;
	margin-top: 20px;
}
.wp-block-gallery.alignright{
	margin-left: 20px;
	margin-top: 20px;
}